{%  extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="container">
        <div>{{ post.author }} {{ post.published }}</div>
        <div>{{ post.title }}</div>
        <div>{{ post.content }}</div>
        <i
            class="fa fa-thumbs-up thumb-up"
            aria-hidden="true"
            data-id="{{ post.id }}"
        >
        </i> <span id="like">{{ post.likes_num }}</span>
    </div>

    {% if post.author == request.user %}
        <a href="{% url 'post:update_view' post.pk %}" class="btn btn-success btn-md" >
                Change post
        </a>
        <a href="{% url 'post:delete_view' post.pk %}" class="btn btn-success btn-md" >
                Delete post
        </a>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="comment" class="form-control" required>
        <input type="submit" value="Save" class="btn btn-success">
    </form>

    {% if comments %}
        {% for comment in comments %}
            <div><i>{{ comment.published }}</i> <b>{{ comment.author.email }}</b> has wrote:</div>
            <div>{{ comment.text }}</div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if comments.has_previous %}
                    <a href="?page={{ comments.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
                </span>

                {% if comments.has_next %}
                    <a href="?page={{ comments.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No comments</p>
    {% endif %}
{% endblock content %}