{%  extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="card">
      <h4 class="card-title" align="center">{{ post.title }}</h4>
      <p class="card-text">{{ post.content }}</p>
      <p class="card-text">
          <small>
              {{ post.author }}
              <span class="text-muted"> {{ post.published }}</span>
          </small>
          <span class="pull-right">
              <i
                class="fa fa-thumbs-up thumb-up"
                aria-hidden="true"
                data-id="{{ post.id }}"
              >
              </i> <span id="like">{{ post.likes_num }}</span>
          </span>
      </p>

    </div>

    {% if post.author == request.user %}
        <a href="{% url 'post:update_view' post.pk %}" class="btn btn-success btn-md" >
                Change post
        </a>
        <a href="{% url 'post:delete_view' post.pk %}" class="btn btn-success btn-md" >
                Delete post
        </a>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <textarea name="comment" class="form-control comment-textarea" required></textarea>
        <div class="button-right"> <input type="submit" value="Save" class="btn btn-success"></div>
    </form>
    {% if comments %}
        <ul class="list-group">
            {% for comment in comments %}
                <li class="list-group-item comment-item">
                    <div><small><i>{{ comment.published }}</i> <b>{{ comment.author.email }}</b> has wrote:</small></div>
                    <div><small>{{ comment.text }}</small></div>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if comments.has_previous %}
                    <a href="?page={{ comments.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
                </span>

                {% if comments.has_next %}
                    <a href="?page={{ comments.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No comments</p>
    {% endif %}
{% endblock content %}